html {
    font-family: Helvetica;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 40px;
    background-color: #777;
}


/* Navigation bar */

.primary-links {
    margin: 0px auto;
    display: flex;
    padding: 0px 10px;
    max-width: 1000px;
}

.primary-links a {
    text-decoration: none;
    color: white;
    flex-grow: 1;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

.primary-links a.principal {
    flex-grow: 2;
}

.primary-links a li {
    display: inline-block;
    list-style: none;
    line-height: 40px;
}


/* Primary content */

main {
    width: 1000px;
    margin: 20px auto;
}

.primary-content {
    display: flex;
    height: 400px;
}


/* Banner */

.banner {
    flex-grow: 2;
    margin-right: 25px;
    background-color: black;
    max-width: 65%;
}

.slide {
    height: 100%;
    color: white;
    position: relative;
}

.slide h2 {
    margin: 0px;
    padding: 10px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.slide p {
    position: absolute;
    bottom: 0px;
    color: white;
    margin: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
    font-size: 1.3em;
}


/* Ad */

.ad {
    flex-grow: 1;
    background-color: black;
}


/* Featured content */

.feature {
    margin-top: 25px;
}

.feature h2 {
    display: block;
    background-color: gray;
    font-size: 2em;
    padding: 10px 0 10px 10px;
    margin: 0px;
}

.feature-content {
    display: flex;
    height: 300px;
}

.feature-content article {
    flex: 1;
    background-color: black;
    position: relative;
}

.feature-content article h3 {
    margin: 0px;
    padding: 10px 0px 10px 10px;
    background-color: rgba(0, 0, 0, .3);
    color: white;
}

.feature-content article p {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    margin: 0px;
    background-color: rgba(0, 0, 0, .3);
    color: white;
}


/* Footer */

footer {
    width: 1000px;
    height: 50px;
    margin: 20px auto 0 auto;
    background-color: black;
    display: flex;
}

.social-media {
    flex-grow: 1;
}

.secondary-links {
    flex-grow: 1;
    background-color: white;
}

.copyright {
    flex-grow: 1;
}